<?xml version="1.0"?>
<robot name="hakuroukun" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="imu_sensor" params="parent imu_name imu_topic mass sizex sizey sizez ox oy oz update_rate noise" >
    <link name="${imu_name}">
      <visual>
        <geometry>
          <box size="${sizex} ${sizey} ${sizez}"/>
        </geometry>
        <material name="White"/>
      </visual>
      <xacro:inertial_box mass="${mass}" x="${sizex}" y="${sizey}" z="${sizez}" />
    </link>
    <joint name="${parent}_to_${imu_name}" type="fixed">
      <parent link="${parent}"/>
      <child link="${imu_name}"/>
      <origin xyz="${ox} ${oy} ${oz}"/>
    </joint>
    <gazebo reference="${imu_name}">
      <material>Gazebo/White</material>
      <gravity>true</gravity>
      <sensor name="${imu_name}_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>true</visualize>
        <topic>${imu_topic}</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>${imu_topic}</topicName>
          <bodyName>${imu_name}</bodyName>
          <updateRate>${update_rate}</updateRate>
          <gaussianNoise>${noise}</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>${imu_name}</frameName>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="gps_sensor" params="parent gps_name gps_topic mass sizex sizey sizez ox oy oz update_rate initial_latitude initial_longitude noise">
	<link name="${gps_name}">
	  <visual>
	    <geometry>
	      <box size="${sizex} ${sizey} ${sizez}"/>
		</geometry>
		<material name="White"/>
	  </visual>	
	  <xacro:inertial_box mass="${mass}" x="${sizex}" y="${sizey}" z="${sizez}" />
	</link>
	<joint name="${parent}_to_${gps_name}" type="fixed">
	  <parent link="${parent}"/>
	  <child link="${gps_name}"/>
	  <origin xyz="${ox} ${oy} ${oz}"/>
	</joint>
	<gazebo>
		<plugin filename="libhector_gazebo_ros_gps.so" name="gps_plugin">
			<updateRate>${update_rate}</updateRate>
			<bodyName>${gps_name}</bodyName>
			<frameId>${gps_name}</frameId>
			<topicName>${gps_topic}</topicName>
			<velocityTopicName>navsat/vel</velocityTopicName>
			<referenceLatitude>${initial_latitude}</referenceLatitude>
			<referenceLongitude>${initial_longitude}</referenceLongitude>
			<referenceHeading>0</referenceHeading>
			<referenceAltitude>0</referenceAltitude>
			<gaussianNoise>${noise}</gaussianNoise>
		</plugin>
	</gazebo>
	</xacro:macro>
</robot>