<!-- This file is for experiment only -->
<launch>

    <arg name="serial_ON" default="true"/>
    
    <!-- Arduino Parameters -->
    <arg name="arduino_port" default="/dev/arduino"/>
    <arg name="arduino_baud_rate" default="115200" />
    <arg name="arduino_controller_rate" default="1" />

    <!-- Communication Node-->
    <group if="$(arg serial_ON)">
        <node pkg="hakuroukun_communication" name="hakuroukun_communication_node" type="hakuroukun_communication_node" output="screen">
            <param name="port" value="$(arg arduino_port)"/>
            <param name="baud_rate" value="$(arg arduino_baud_rate)"/>
            <param name="controller_rate" value="$(arg arduino_controller_rate)"/>
        </node>
    </group>
</launch>