<?xml version="1.0"?>
<launch>

    <!-- Arduino Parameters -->
    <arg name="arduino_port" default="/dev/ttyACM1" />
    <arg name="arduino_baud_rate" default="115200" />
    <arg name="arduino_controller_rate" default="1" />
    <!-- IMU Parameters -->
    <arg name="imu_serial_port" default="/dev/ttyACM0" />
    <arg name="imu_publish_rate" default="70" />  <!-- Required : 50-100 -->
    <!-- GPS Parameters -->
    <arg name="gps_serial_port" default="/dev/ttyACM2" />
    <arg name="gps_baud" default="115200" />
    <arg name="gps_debug" default="True" />
    <!-- Left Lidar Parameters -->
    <arg name="left_lidar_serial_port" default="/dev/ttyACM2" />
    <arg name="left_lidar_baud" default="256000"/>    <!-- A1/A2:115200 , A3:256000 -->
    <!-- Right Lidar Parameters -->
    <arg name="right_lidar_serial_port" default="/dev/ttyACM3" />
    <arg name="right_lidar_baud" default="256000"/>   <!-- A1/A2:115200 , A3:256000 -->

    <!-- Communication Node-->
    <node pkg="hakuroukun_communication" name="hakuroukun_communication_node" type="hakuroukun_communication_node" output="screen">
        <param name="port" value="$(arg arduino_port)"/>
        <param name="baud_rate" value="$(arg arduino_baud_rate)"/>
        <param name="controller_rate" value="$(arg arduino_controller_rate)"/>
    </node>

    <!-- IMU Node-->
    <node pkg="tsnd151_imu" type="tsnd151_imu_node.py" name="tsnd151_imu_node" required="true" output="screen">
        <param name="serial_port" value="$(arg imu_serial_port)"/>
        <param name="publish_rate" value="$(arg imu_publish_rate)"/>
    </node>

    <!-- GPS Node-->
    <node pkg="f9p_ichimill" type="f9p_driver.py" name="f9p_driver" args="" >
        <param name="port" value="$(arg gps_serial_port)"/>
        <param name="baud" value="$(arg gps_baud)"/>
        <param name="debug" value="$(arg gps_debug)"/>
    </node>

    <!-- sentence to fix -->
    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" />
    <!-- Hakuroukun Pose Node -->
    <node name="hakuroukun_pose" pkg="hakuroukun_pose" type="hakuroukun_pose_node" output="screen"/>
    <!-- Trajectory Node -->
    <node name="trajectory_pub" pkg="hakuroukun_control" type="trajectory_pub_node"/>
    
</launch>