<?xml version="1.0"?>
<launch>
    <arg name="port" default="/dev/ttyACM0" />

    <arg name="baud_rate" default="115200" />

    <arg name="controller_rate" default="1" />

    <!-- Controller Node-->
    <node pkg="hakuroukun_communication" name="hakuroukun_communication_node" type="hakuroukun_communication_node" output="screen">
        <param name="port" value="$(arg port)"/>
        <param name="baud_rate" value="$(arg baud_rate)"/>
        <param name="controller_rate" value="$(arg controller_rate)"/>
    </node>
</launch>