<launch>

    <!-- Load controller parameters -->
    <rosparam command="load" file="$(find hakuroukun_control)/config/steering_and_wheel_control.yaml" />

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/hakuroukun" 
        args="
        joint_state_publisher
        front_wheel_shaft_position_controller
        rear_left_wheel_velocity_controller
        rear_right_wheel_velocity_controller 
        --shutdown-timeout 3"
    />

</launch>
