<launch>
    <node name="hakuroukun_control_node" pkg="hakuroukun_control" type="hakuroukun_control_node" output="screen">
        <param name="~trajectory_file" value="$(find hakuroukun_control)/trajectories/bicycle_l_shape_ep0.25_1s.csv"/>
        <param name="~sampling_time" value="1"/>
        <param name="~controller_type" value="feed_forward"/>
        <param name="~trajectory_type" value="front_wheel"/>
        <remap from="cmd_controller" to="/hakuroukun_steering_controller/cmd_controller"/>
    </node>
</launch>